body {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }

  header {
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0%;
    z-index: 10;
  }
  
  .top-wrapper {
    padding: 190px 0 190px 0;
    background-image: url(https://tblg.k-img.com/restaurant/images/Rvw/132531/640x640_rect_132531087.jpg);
    background-size: cover;
    text-align: center;
  }
  .container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    color: rgb(243, 250, 243);
    font-size: 40px;
  }
  
  .top-wrapper h1 {
    opacity: 20px;
    font-size:  60px;
    letter-spacing:  12px;
    color: black;
  }
  
  .top-wrapper h2 {
    opacity: 10;
    font-size: 14px;
    margin-bottom: 35px;
    
  }
  .signup {
    background-color: #239b76;
    
  }
  
  .facebook {
    background-color: #3b5998;
    
  }
  
  .twitter {
    background-color: #55acee;
    
  }

  .btn {
    padding: 8px 24px;
    color: blanchedalmond;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn :hover {
    opacity: 1;
  }

  .fa {
    margin-right: 5px;

  }
  .heading h2 {
    color:white;
    text-align: center;
    font-size: 100px;
  }

  p {
    text-align: center;
    font-size: 50px;

  }

  img {
    width: 1000px;
    padding: 100px 105px;
    

  }
  
  h1 {
    margin-top: 95px;
  }

  .lesson-wrapper {
    background-color: black;
  }

  footer {
    background-color: black;

  } 
  
  h4 {
    font-size: 50px;
    text-align: center;
  }

  ul {
    text-align: center;
    list-style: none;
    font-size: 25px;
  }

　.aaa {
  width: 100px;
  display: inline-block;
}

.hide-on-med-and-down {
  text-align: center;

}

.message {
  padding: 15px 40px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 7px #239b76;
}

.btn {
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 0.4px;
}

.message:active {
 position: relative;
 top: 7px;
 box-shadow: none;
}

footer img {
 width: 900px;
}

footer p {
  color: #ffffff;
  font-size: 50px;
}

footer {
  padding-top: 30px;
}
 /*モーダル*/
.signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0px 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form {
  width: 100%;
}

#signup-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}